<form action="" method="POST">
    <div class="form-section">
        <label for="password">Super Secret Password:</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="form-section">
        <button type="submit" class="btn btn-primary">Join The Club</button>
    </div>
</form>