<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header class="card-header">
        <h1><a href="/">Awesome Club</a></h1>
        <div>
            <a href="/signup">Sign Up</a>
            <% if (currentUser) { %>
                <a href="/logout">Log out</a>
            <% } else { %>
                <a href="/login">Log In</a>
            <% } %>
            <% if (currentUser && currentUser.status === 'user') { %>
                <a href="/join">Join The Club</a>
            <% } %>
        </div>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>