<form action="" method="POST">
    <div class="form-section">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" minlength="2" maxlength="100" class="form-control">
    </div>
    <div class="form-section">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" minlength="8" maxlength="16" class="form-control">
    </div>
    <div class="form-section">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</form>