<% if (currentUser) { %>
    <h1>Welcome <%= currentUser.name %>!</h1>
<% } else { %>
    <h1>Welcome!</h1>
<% } %>
<p>Here are the latests posts:</p>
<% for (post of posts) { %>
    <a href="<%= post.url %>"><%= post.title %></a>
<% } %>