form {
  padding: 50px;
  width: 400px;
}

.form-section {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > div {
  display: flex;
  gap: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}